In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Dados.xlsx')
df

  Corrente    WCp   To   Td
0       Q1  23465  160   90
1       Q2   4693  250  140
2       F1  11732   60  140
3       F2  16425  110  230

In [3]:
total_correntes = df.shape[0]
total_correntes

4

In [4]:
tfinal, tinicial = np.array(df['Td']), np.array(df['To'])
dif_temperatura = tfinal - tinicial
data = np.array(['Fria' if info > 0 else 'Quente' for info in dif_temperatura])
df['Tipo de Corrente'] = data

data = np.array([f'{ini} - {fim}' for ini, fim in zip(tinicial, tfinal)])
df['Intervalo de Temperatura (ºC)'] = data

data = np.array([dif*coef if dif>0 else -dif*coef for dif, coef in zip(dif_temperatura, df['WCp'])])
df['Oferta/Demanda'] = data
df

,Corrente,WCp,To,Td,Tipo de Corrente,Intervalo de Temperatura (ºC),Oferta/Demanda
0,Q1,23465,160,90,Quente,160 - 90,1642550
1,Q2,4693,250,140,Quente,250 - 140,516230
2,F1,11732,60,140,Fria,60 - 140,938560
3,F2,16425,110,230,Fria,110 - 230,1971000

In [5]:
oferta = df.loc[df['Tipo de Corrente'] == "Quente"]['Oferta/Demanda'].sum()
demanda = df.loc[df['Tipo de Corrente'] == "Fria"]['Oferta/Demanda'].sum()
oferta, demanda

(2158780, 2909560)

In [6]:
min_vapor = demanda - oferta if demanda - oferta > 0 else 0
min_agua = oferta - demanda if oferta - demanda > 0 else 0

In [7]:
print(f'Intervalos de temperatura: {total_correntes}\nOferta total: {oferta}kW\nDemanda total: {demanda}kW\nConsumo mínimo de vapor: {min_vapor}kW\nConsumo mínimo de água: {min_agua}kW\n')

Intervalos de temperatura: 4
Oferta total: 2158780kW
Demanda total: 2909560kW
Consumo mínimo de vapor: 750780kW
Consumo mínimo de água: 0kW